 .linkStyle{
    color: black;
    font-size: 30px;
    font-weight: 100;
    display: inline;

}
.container1{
width: 50%;

}
.row{
width: 100%;
}
.container2{
width: 50%;

}
 .navStyle{
    display: 'inline';
    padding: '20px';
}

 .containerStyle{
    background-image: url('https://live.staticflickr.com/1690/25312859625_9cfe562a12_b.jpg');
}

.pos-home{
    color: black;
    font-size: 20px;
    font-weight: 100;
    display: inline;
    position: absolute;
    right: 20%;
    bottom: 0px;
}
.pos-about{
    color: black;
    font-size: 20px;
    font-weight: 100;
    display: inline;
    position: absolute;
    right: 10%;
    bottom: 0px;
}

*{
    font-family: Open Sans, sans-serif;
    color:rgb(75, 77, 79);
    font-size: 20px;
 }

 .footer-color{
    background-color: #241E4E;
    position: absolute;
    bottom: 0px; 
    width: 100%;
}
.text-center{
    text-align: center;

}
 .header-color{
     background-color: #CE6C47;
     text-decoration: none

 }

 /*
==============================HOME========================================
 */

 .question-number{
     font-size:200%;
     text-align: center;
 }

 .question-input{
    margin: 0 auto;
     display: block;
 }

 .question-answer{
    margin: 0 auto;
    display: block;
 }

 .buttons{
    text-align: center;
}

